In [ ]:
# Learning Objectives:In this lesson you will learn about:
# Lists and Tuples
# Sets
# Dictionaries

In [ ]:
# TUPLES: A tuple is an ordered, immutable collection of items in Python.
# Ordered: The items have a specific sequence.
# Immutable: Once created, you cannot change its elements (no adding, removing, or modifying items).
# Allows duplicates: You can have repeated values.
# Tuples are expressed as comma-separated elements within parentheses.
# In Python, there are different types: strings, integer, float.
# They can all be contained in a tuple, but the type of the variable is tuple.
# Each element of a tuple can be accessed via an index.

In [1]:
Tuple1 = ("disco",10,1.2 )
Tuple1

('disco', 10, 1.2)

In [2]:
Tuple1[0]

'disco'

In [3]:
# TUPLES: CONCATENATION
# We can concatenate or combine tuples by adding them.
Tuple2 = Tuple1 + ("hard rock", 10)
Tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [4]:
# TUPLES: SLICING
# If we would like multiple elements from a tuple, we could also slice tuples.
Tuple2[0:3]

('disco', 10, 1.2)

In [5]:
# TUPLES:LEN
# We can use the “len” command to obtain the length of a tuple.
len(Tuple2)

5

In [6]:
# TUPLES:SORTED
# As a consequence of immutability, if we would like to manipulate a tuple, we must create a new tuple instead.
# For example, if we would like to sort a tuple, we use the function sorted. The input is the original tuple.The output is a new sorted tuple.
Ratings = (10,9,6,5,10,8,9,6,2)
SortedRatings = sorted(Ratings)
SortedRatings

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [7]:
# TUPLES: NESTING
# A tuple can contain other tuples as well as other complex data types; this is called nesting.
# We can access these elements using the standard indexing methods. If we select an index with a tuple, the same index convention applies.
# As such, we can then access values in the tuple.
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))
NT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [8]:
NT[2]

('pop', 'rock')

In [10]:
NT[2][1]

'rock'

In [ ]:
# LISTS: A list is an ordered, mutable collection of items.
# Ordered: Items have a position (index).
# Mutable: You can change, add, or remove items.
# Allows duplicates: Same value can appear multiple times.
# Can contain different types: Numbers, strings, booleans, even other lists.
# A list is represented with square brackets.

In [12]:
L = ["MICHAEL JACKSON", 10.1, 1982]
L[0]

'MICHAEL JACKSON'

In [15]:
# LISTS: SLICING
L = ["MICHAEL JACKSON", 10.1, 1982,"MJ",1]
L[3:5]

['MJ', 1]

In [16]:
# LISTS; CONCATENATION
# We can concatenate or combine lists by adding them. The result is the following.
# The new list has the following indices.Lists are mutable, therefore, we can change them.
L1 = L + ["pop",10]
L1

['MICHAEL JACKSON', 10.1, 1982, 'MJ', 1, 'pop', 10]

In [17]:
# METHOD: EXTEND
# he extend() method adds elements from another iterable (like a list, tuple, or string) to the end of the list.
# It modifies the original list (unlike + which creates a new list).
L.extend(["pop",10])
L

['MICHAEL JACKSON', 10.1, 1982, 'MJ', 1, 'pop', 10]

In [ ]:
# DIFFERENCE BETWEEN CONCATENATE AND EXTEND
# Concatenation (+):Creates a new list by joining two lists.Does not modify the original lists.
# Syntax:list1 + list2
# Key point: Concatenation returns a new list.

# extend():Adds elements of another iterable to the end of the original list.Modifies the original list.
# Syntax:list1.extend(list2)
# Key point: extend() changes the original list.

In [ ]:
# METHOD: APPEND
# append(): Adds a single element to the end of a list.
# Key point: The element you append can be any object — number, string, another list, etc.
# Syntax: list.append(element)
# If we apply append instead of extended we add one element to the list.

In [18]:
# If we apply extend, we add two new elements to the list.
# If we apply append instead of extended we add one element to the list.
L.append(["pop",10])
L

['MICHAEL JACKSON', 10.1, 1982, 'MJ', 1, 'pop', 10, ['pop', 10]]

In [20]:
# LISTS: MUTABLE
# s lists are mutable, we can change them.
# For example, we can change the first element as follows.
A = ["disco",10,1.2 ]
A[0] = "hard rock"
A

['hard rock', 10, 1.2]

In [24]:
# LISTS: DELETE
# We can delete an element of a list using the "del" command; we simply indicate the list
A = ["disco",10,1.2 ]
del(A[2])
A

['disco', 10]

In [25]:
# CONVERTING STRING TO LIST
# We can convert a string to a list using split.
# For example, the method split converts every group of characters separated by a space into an element of a list.

"Hard Rock".split()

['Hard', 'Rock']

In [37]:
# We can use the split function to separate strings on a specific character, known as a delimiter.
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [39]:
# LISTS: ALISING
# Aliasing happens when two or more variables refer to the same object in memory.
# Changing the object through one variable will affect the other, because they point to the same object.
A = ["disco",10,1.2 ]
B=A
B

['disco', 10, 1.2]

In [41]:
# "A" and “B” are referencing the same list, therefore if we change "A“, list "B" also changes.
B[0] = "MANGO"
A

['MANGO', 10, 1.2]

In [43]:
# LISTS:CLONE
# To clone a list means to create a separate (independent) copy of a list so that changes to the new list do NOT affect the original list.
A = ["disco",10,1.2 ]
B = A[:]
B

['disco', 10, 1.2]

In [46]:
# Variable "A" references one list.
# Variable “B” references a new copy or clone of the original list.
# Now if you change “A”, "B" will not change
B[0] = "MANGO"
A

['disco', 10, 1.2]

In [45]:
LIST1 = [1,2,3]
LIST2 = LIST1.copy()
LIST2

[1, 2, 3]

In [ ]:
# SETS
# A set is a built-in data structure in Python that is:
#Unordered (no fixed index positions)
# Unindexed (you cannot access items by position like set[0])
# Mutable (you can add/remove items)
# Does NOT allow duplicates (it automatically removes repeats)
# Using curly braces {} or the set() function:

In [47]:
set1 = {"pop","rock","soul","hard rock","rock","R&B","rock","disco"}
set1
# Does NOT allow duplicates (it automatically removes repeats)
# You notice there are duplicate items. When the actual set is created, duplicate items will not be present.

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [ ]:
# CONVERTING LIST TO A SET: TYPE-CASTING
# Type casting (type conversion) is the process of converting one data type into another.
# You can convert a list to a set by using the function set; this is called type-casting.You simply use the list as the input to the function set.
# The result will be a list converted to a set.

In [48]:
album_list =["Michael Jackson", "Thriller","Thriller",1982]
album_set = set(album_list)
album_set

{1982, 'Michael Jackson', 'Thriller'}

In [50]:
# SET OPERATIONS
# Set operations are mathematical operations you can perform on sets to compare, combine, or find relationships between them.
# We can add an item to a set using the add method
A ={"AC/DC","Back in Black","AC/DC","Thriller"}
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [52]:
# We just put the set name followed by a dot then the remove method.
A = {"AC/DC","Back in Black","AC/DC","Thriller","NSYNC"}
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [53]:
# We can verify if an element is in the set using the "in" command as follows. The command checks if the item, in this case,
'AC/DC'in A

True

In [55]:
# MATHEMATICAL SET OPERATIONS
# 1. INTERSECTION OF SET: The Intersection of two sets is a new set containing elements which are in both of those
album_set1 = {"AC/DC","Back in Black","The dark side of the moon"}
album_set2 = {"AC/DC","Back in Black","The Bodyguard"}
album_set3 = album_set1 & album_set2
album_set3

{'AC/DC', 'Back in Black'}

In [56]:
# 2. UNION OF TWO SETS
# The union of two sets is the new set of elements which contain all the items in both sets. We can find the union of the sets album set 1 and album_set_2 as follows.
# The result is a new set that has all the elements of album_set_1 and album_set_2
album_set1 = {"AC/DC","Back in Black","The dark side of the moon"}
album_set2 = {"AC/DC","Back in Black","The Bodyguard"}
album_set3 = album_set1|album_set2
album_set3

{'AC/DC', 'Back in Black', 'The Bodyguard', 'The dark side of the moon'}

In [58]:
# SUBSET
# We can check if a set is a subset using the is subset method.
album_set1 = {"AC/DC","Back in Black","The dark side of the moon"}
album_set2 = {"AC/DC","Back in Black","The Bodyguard"}
album_set2.issubset(album_set1)

False

In [ ]:
# DICTIONARIES
# A dictionary (dict) is a data structure that stores data in key–value pairs.
# Think of it like a real dictionary:
# Word = key
# Meaning = value
# To create a dictionary, we use curly brackets. The keys are the first elements; they must
# be immutable and unique. Each key is followed by a value separated by a colon. The values can be immutable, mutable and duplicates.
# Each key and value pair is separated by a comma.

In [59]:
# he key is used to look up the value. We use square brackets; the argument is the key. This outputs the value.
Dict = { "Thriller":1982,"Back in Black":1980, "The Dark Side of the Moon":1973,"The Bodyguard":1992, "Bat out of hell": 1977, "rumour":1977, "saturday night fever":1977}
Dict["Thriller"]

1982

In [61]:
# We can add a new entry to the dictionary as follows.
Dict["graduation"] = "2017"
Dict

{'Thriller': 1982,
 'Back in Black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992,
 'Bat out of hell': 1977,
 'rumour': 1977,
 'saturday night fever': 1977,
 'graduation': '2017'}

In [62]:
# We can delete an entry as follows. This gets rid of the key "Thriller" and its value
del(Dict["Thriller"])
Dict

{'Back in Black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992,
 'Bat out of hell': 1977,
 'rumour': 1977,
 'saturday night fever': 1977,
 'graduation': '2017'}

In [63]:
# we can verify if an element is in the dictionary using the in command as follows.
# he command checks the keys. If they are in the dictionary, they return a true. If we try the same command with a key that is not in the dictionary, we get a false.
# If we try with another key that is not in the dictionary, we get a false.
"rumour" in Dict

True

In [64]:
# in order to see all the keys in a dictionary, we can use the method keys to get the keys.
Dict.keys()

dict_keys(['Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat out of hell', 'rumour', 'saturday night fever', 'graduation'])

In [65]:
# in order to see all the values in a dictionary, we can use the method values to get the values.
Dict.values()

dict_values([1980, 1973, 1992, 1977, 1977, 1977, '2017'])

In [66]:
# Review Questions
# Question 1:What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')
A[0]

'a'

In [73]:
# Question 2:After applying the following method, L.append(['a','b']), the following list will only be one element longer.
L = ['a', 'b', 'c']
L.append(['a','b'])
print(L)

['a', 'b', 'c', ['a', 'b']]

In [74]:
# Question 3:Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

# What is the result of the following operation: Dict["D"]?
Dict["D"]

(4, 4, 4)