In [7]:
# YOUR FIRST PROGRAM

# PRINT HELLO PYTHON 101
print("Hello Python 101")

Hello Python 101

In [8]:
# DATA TYPES
type(11)

int

In [9]:
type(21.213)

float

In [10]:
type("Hello Python 101")

str

In [11]:
# Type Casting : changing expression type like int to a float
float(2)

2.0

In [12]:
# If you cast a float to an integer you will lose some information
int(1.1)

1

In [13]:
type(True)

bool

In [14]:
type(False)

bool

In [15]:
# If you cast a 1 to a boolean you will get True
bool(1)

True

In [16]:
# If you cast a bool True to an int you will get 1
int(True)

1

In [17]:
# If you cast a bool True to a float you will get 1.0
float(True)

1.0

In [18]:
# If you cast a bool false to an int you will get 0
int(False)

0

In [19]:
# EXPRESSIONS AND VARIABLES
# EXPRESSION: Expressions are operations that Python performs. For example, basic arithmetic operations
# We call the numbers operands and the maths symbols, in this case addition, are called
# operators
43 + 60 + 16 + 41

160

In [20]:
# MATHEMATICAL OPERATIONS: ADDITION
43 + 60 + 16 + 41

160

In [21]:
# MATHEMATICAL OPERATIONS: SUBSTRACTION
50 - 60

-10

In [22]:
# MATHEMATICAL OPERATIONS: MULTIPLICATION
5 * 5

25

In [23]:
# MATHEMATICAL OPERATIONS: DIVISION
25/5

5.0

In [24]:
# MATHEMATICAL OPERATIONS: MULTIPLICATION
# USING THE // , THE RESULT IS ROUNDED
25//5

5

In [25]:
# VARIABLES: We can use variables to store values
# in this case, we assign a value of 1 to the variable
my_variable = 1

In [26]:
# we add several values and assign the result to x.
X = 43 + 60 + 16 + 41
X

160

In [27]:
# We can also perform operations on x and save
# the result to a new variable y
Y = X/60
Y

2.6666666666666665

In [28]:
# STRING OPERATIONS
# In Python, a string is a sequence of characters. A string is contained within two quotes:
"MICHAEL JACKSON"
# You could also use single quotes. A string can be spaces, or digits
"1 2 3 4 5 6 "
# A string can also be special characters.
" # @ % & * "
# We can bind or assign a string to another
NAME = "MICHAEL JACKSON"
# t is helpful to think of a string as an ordered sequence.
# Each element in the sequence can be accessed using an index represented by the array of numbers.
# To access the first index we have
NAME[0]

'M'

In [29]:
NAME[6]

'L'

In [30]:
NAME[13]

'O'

In [31]:
# We can also use negative indexing with strings.
# The last element is given by the index -1. The first element can be obtained by index
NAME[-1]

'N'

In [32]:
# -1. The first element can be obtained by index -15, and so on
NAME[-15]

'M'

In [33]:
# STRING: SLICING
# String slicing means taking (extracting) a part of a string using its index.
NAME[0:4]

'MICH'

In [34]:
# STRING: STRIDE
# Stride (also called step) means how many characters to skip when slicing a string.
# We can also input a stride value as follows.
NAME[::2]
# The 2 indicates we select every second variable.

'MCALJCSN'

In [35]:
# The General Syntax for stride: string[start:end:stride]
# start = where to begin (included)
# end = where to stop (not included)
# stride = how many characters to move forward each time
# In this example after the first letter we skip to pick the third letter and so on

NAME = "MICHAEL JACKSON"
NAME[::3]

'MHLAS'

In [36]:
# STRING: SLICING & STRIDE TOGETHER
# We can also incorporate slicing into stride.
# In this case.
# start = where to begin (included) = 0
# end = where to stop (not included) = 5
# stride = how many characters to move forward each time = 2
NAME[0:5:2]

'MCA'

In [37]:
# STRING: LEN
# len() is a built-in Python function that returns the number of items (length) in a string, list, tuple, or other collections.
len("MICHAEL JACKSON")
print(len(NAME))

15

In [38]:
# STRING CONCATENATION
# String concatenation means joining (combining) two or more strings together.
# We can concatenate or combine strings. We use the addition symbols.
STATEMENT = NAME + "  IS THE BEST "
STATEMENT

'MICHAEL JACKSON  IS THE BEST '

In [39]:
# STRING MULTIPLICATION
# We can replicate values of a string. We simply multiply the string by the number
# of times we would like to replicate it, in this case, three.
3 * "MICHAEL JACKSON"

'MICHAEL JACKSONMICHAEL JACKSONMICHAEL JACKSON'

In [40]:
# STRINGS ARE IMMUTABLE
# This means you cannot change the value of the string, but you can create a new string. For example, you can create a new string by
# setting it to the original variable and concatenated with a new string.
NAME = "MICHAEL JACKSON"
NAME = NAME + " IS THE BEST"
NAME

'MICHAEL JACKSON IS THE BEST'

In [41]:
# STRINGS: ESCAPSE SEQUENCE
# An escape sequence is a combination of characters that starts with a backslash \ and represents a special character in a string.
# They are used when you cannot type certain characters directly or when they have a special meaning in Python.
# \\ : Backslash
# \' : Single quote
# \" : Double quote
# \n : New line
# \t : Tab (space)
# \b : Backspace
# \r : Carriage return
# \f : Form feed

In [42]:
print("michael jackson \n is the best")

michael jackson
 is the best

In [43]:
print("michael jackson \t is the best")

michael jackson 	 is the best

In [44]:
print("michael jackson \\ is the best")

michael jackson \ is the best

In [45]:
# TUPPLE
# A tuple is a collection of items in Python that is: Ordered ,Indexed, Unchangeable (immutable) → you cannot modify it after creation, Allows duplicate values
# Tuples are written using round brackets

# TUPPLE SLICING
# Tuple slicing means extracting a part of a tuple using indices.
# General Syntax: tuple[start:end:step]
# start = where to begin (included)
# end = where to stop (not included)
#step (stride) = how many items to skip

In [46]:
# STRING METHOD
# String methods are built-in functions used to work with text (strings).
# When we apply a method to the string "A”,we get a new string “B" that is different from "A".

In [51]:
# METHOD:UPPER
# This method converts lower case characters to upper case characters.
A = "thriller is the sixth studio album"
B = A.upper()
B

'THRILLER IS THE SIXTH STUDIO ALBUM'

In [52]:
# METHOD: REPLACE
# The method replaces a segment of the string, i.e., a substring with a new string.
# We input the part of the string we would like to change.
# The second argument is what we would like to exchange the segment with.
# The result is a new string with the segment changed.
A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [53]:
# METHOD: FIND
# The method find, finds sub-strings. The argument is the sub-string you would like to find. The output is the first index of the sequence.
# GENERAL SYNTAX:string.find(substring, start, end)
# String :The text you want to search inside
# Substring:The letter or word you are looking for
# Start: The position where python should start searching
# End: The position where python should stop searching
A = "Michael Jackson is the best"
B = A.find('el')
B

5

In [55]:
A.find("best",2,5)
# What does this mean?
# A.find("best", 2, 5) means:
# Look for the substring "best"
# Start searching at index 2
#Stop searching before index 5
# Between index 2 and 5, the characters are:c h a
# The word "best" is NOT in this range — it appears much later in the sentence.The output is -1
# -1 means: “not found in this range.”

-1

In [57]:
A.find("best",2,28)

23

In [58]:
# REVIEW QUESTIONS
# REVIEW QUESTION 1:What is the result of the following operation in Python:

3 + 2 * 2

7

In [59]:
# Review Question 2:In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
name = 'Lizz'
print(name[0:2])

Li

In [61]:
# Review Question 3:In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
var = '01234567'
print(var[::2])

0246

In [62]:
# Review Question 4:In Python, what is the result of the following operation '1'+'2'?
'1'+'2'

'12'

In [66]:
# Review Question 5:Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = 'hello'
var = myvar.upper()
var

'HELLO'